configurations/homepage/bookmarks.yaml
configurations/homepage/custom.css
configurations/homepage/custom.js
configurations/homepage/docker.yaml
configurations/homepage/kubernetes.yaml
configurations/homepage/kubernetes.yaml

