---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

- Media:
    - Jellyfin:
        icon: jellyfin.png
        href: http://192.168.1.155:8096
        description: Jellyfin Media Server
    - Emby:
        icon: emby.png
        href: http://192.168.1.155:8097
        description: Emby Media Server
    - qBittorrent:
        icon: qbittorrent.png
        href: http://192.168.1.155:8080
        description: qBittorrent Web UI
        widget:
          type: qbittorrent
          url: http://192.168.1.155:8080
          username: admin
          password: YOUR_PASSWORD_HERE
          enableLeechProgress: true # optional, defaults to false
    - metube:
        icon: metube.png
        href: http://192.168.1.155:8100
        description: download youtube music & videos

- Altres:
    - raspberry grafana:
        icon: grafana.png
        href: http://192.168.1.155:3000/d/rYdddlPWk/node-exporter-full
        description: raspberry grafana dashboard
    - Galdric grafana:
        icon: grafana.png
        href: http://192.168.1.156:3000/d/rYdddlPWk/node-exporter-full
        description: Galdric grafana dashboard
    - Wallabag:
        icon: wallabag.png
        href: http://192.168.1.155:8098
        description: Wallabag Read It Later
    - HomeAssistant:
        icon: home-assistant.png
        href: http://192.168.1.148:8123
        description: Open Home Assistant page.
#    - Vosk:
#        icon: vosk.png
#        href: http://192.168.1.155:8101
#        description: voice to text
